@{
    ViewData["Title"] = "Home Page";
}
 
<div class="row">
    <div class="col-md-3">
        <h2>Fake Bank</h2>
        <ul>
            <li>Simple banking app using .Net Core</li>
        </ul>

    </div>
    
</div>
